/*  CSS Ecran principal  */
#account_box {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
  width: 750px;
}
#account_box > #msg_box {
  position: relative;
  display: none;
  top: 56px;
  left: 14px;
  width: 665px;
  height: 28px;
  padding-top: 12px;
  padding-left: 21px;
  background-color: #D9EDF7;
  border: 1px;
  border-style: solid;
  border-color: #BCE8F1;
  border-radius: 5px;
  margin-bottom: 8px; 
}
#account_box > #msg_box > #span_msg {
  color: #3A87BD;
  font-family: Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
  vertical-align: middle;
}
#account_box > #main_box {
  position: relative;
  top: 56px;
  left: 14px;
  padding-left: 23px;
  width: 657px;
  height: 390px;
  background-color: #F8F8F8;
  border: 1px;
  border-color: #D4D4D4;
  border-style: solid;
  border-radius: 12px 12px 12px 12px;
  padding-top: 6px;
  padding-right: 6px;
  padding-bottom: 6px;
}
#title_account {
  position: absolute;
  top: 8px;
  left: 15px;
  width: 143px;
  height: 39px;
  font-size: 14.0pt;
  font-family: Arial;
}
#password_label {
  position: absolute;
  top: 46px;
  left: 37px;
  width: auto;
  height: auto;
  font-size: 11.0pt;
  font-family: Arial;
}
#password_field {
  position: absolute;
  top: 41px;
  left: 202px;
  width: 237px;
  height: 25px;
  border: 1px;
  border-color: #C8C8C8;
  border-style: solid;
  padding-left: 2px;
  cursor: text;
}
#adress_label {
  position: absolute;
  top: 89px;
  left: 37px;
  width: auto;
  height: auto;
  font-size: 11.0pt;
  font-family: Arial;
}
#adress_field {
  position: absolute;
  top: 84px;
  left: 202px;
  width: 237px;
  height: 25px;
  border: 1px;
  border-color: #C8C8C8;
  border-style: solid;
  padding-left: 2px;
  cursor: text;
}
#tel_label {
  position: absolute;
  top: 122px;
  left: 37px;
  width: auto;
  height: auto;
  font-size: 11.0pt;
  font-family: Arial;
}
#tel_field {
  position: absolute;
  top: 117px;
  left: 202px;
  width: 237px;
  height: 25px;
  border: 1px;
  border-color: #C8C8C8;
  border-style: solid;
  padding-left: 2px;
  cursor: text;
}
#email_label {
  position: absolute;
  top: 160px;
  left: 37px;
  width: auto;
  height: auto;
  font-size: 11.0pt;
  font-family: Arial;
}
#email_field {
  position: absolute;
  top: 155px;
  left: 202px;
  width: 237px;
  height: 25px;
  border: 1px;
  border-color: #C8C8C8;
  border-style: solid;
  padding-left: 2px;
  cursor: text;
}
#title_settings {
  position: absolute;
  top: 198px;
  left: 15px;
  width: 143px;
  height: 39px;
  font-size: 14.0pt;
  font-family: Arial;
}
#group_setting_one {
  position: absolute;
  top: 244px;
  left: 37px;
  width: 247px;
  height: 21px;
}
#group_setting_one > #label_setting_one {
  position: absolute;
  top: 5.5px;
  left: 23px;
  width: 230px;
  height: 21px;
  font-size: 11.0pt;
  font-family: Arial;
}
#group_setting_one > #checkbox_setting_one {
  position: absolute;
  top: 4px;
  left: 0px;
  cursor: pointer;
}
#account_box #group_setting_two {
  position: absolute;
  top: 274px;
  left: 37px;
  width: 432px;
  height: 21px;
}
#group_setting_two > #label_setting_two {
  position: absolute;
  top: 5.5px;
  left: 23px;
  width: 420px;
  height: 21px;
  font-size: 11.0pt;
  font-family: Arial;
}
#group_setting_two > #checkbox_setting_two {
  position: absolute;
  top: 4px;
  left: 0px;
  cursor: pointer;
}
#group_default_user_type {
  position: absolute;
  top: 306px;
  left: 37px;
  width: 239px;
  height: 29px;
}
#group_default_user_type > #select_default_user_type {
  position: absolute;
  top: 5px;
  left: 163px;
  padding-left: 8px;
  width: 190px;
  height: 25px;
  text-align: left;
  font-family: Arial;
  font-size: 11.0pt;
  vertical-align: middle;
  border-radius: 4px;
}
#group_default_user_type > #label_default_user_type {
  position: absolute;
  top: 9px;
  left: 3px;
  width: auto;
  height: auto;
  font-size: 11.0pt;
  font-family: Arial;
}
#btn_cancel {
  position: absolute;
  top: 362px;
  left: 499px;
  width: 70px;
  height: 23px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  border: 1px;
  border-color: #CDCDCD;
  border-style: solid;
  border-radius: 4px 4px 4px 4px;
  padding: 2px;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: Arial;
}
#btn_save {
  position: absolute;
  top: 362px;
  left: 584px;
  width: 83px;
  height: 23px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  border: 1px;
  border-color: #CDCDCD;
  border-style: solid;
  border-radius: 4px 4px 4px 4px;
  padding: 2px;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: Arial;
}