#client_box {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
  width: 750px;
}
#client_box > #msg_box {
  position: relative;
  display: none;
  top: 56px;
  left: 14px;
  width: 665px;
  height: 28px;
  padding-top: 12px;
  padding-left: 21px;
  background-color: #D9EDF7;
  border: 1px;
  border-style: solid;
  border-color: #BCE8F1;
  border-radius: 5px;
  margin-bottom: 8px; 
}
#client_box > #msg_box > #span_msg {
  color: #3A87BD;
  font-family: Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
  vertical-align: middle;
}
#client_box > #main_box {
  position: relative;
  top: 56px;
  left: 182px;
  padding-left: 31px;
  width: 473px;
  height: 280px;
  background-color: #F8F8F8;
  background-image: none;
  border: 1px;
  border-style: solid;
  border-color: #D4D4D4;
  border-radius: 15px 15px 15px 15px;
  padding-top: 14px;
  padding-right: 14px;
  padding-bottom: 14px;
  font-size: 16.0pt;
  font-family: Arial;
}
#main_box_title {
  position: absolute;
  top: 3px;/*63 --> 60*/
  left: 25px;/*208 --> 183*/
  width: auto;
  height: auto;
  background-color: transparent;
  line-height: 27px;
  font-size: 14.0pt;
  font-family: Arial;
}
#client_name {
  position: absolute;
  top: 45px;
  left: 37px;
  width: auto;
  height: auto;
  background-color: transparent;
  font-size: 10.0pt;
  font-family: Arial;
}
#client_name_field {
  position: absolute;
  top: 40px;
  left: 117px;
  width: 209px;
  height: 21px;
  padding-left: 8px;
  background-color: #FFFFFF;
  border: 1px;
  border-style: solid;
  border-color: #C8C8C8;
  cursor: text;
}
#client_address {
  position: absolute;
  top: 75px;
  left: 37px;
  width: auto;
  height: auto;
  background-color: transparent;
  font-size: 10.0pt;
  font-family: Arial;
}
#client_address_field {
  position: absolute;
  top: 70px;
  left: 117px;
  width: 209px;
  height: 21px;
  padding-left: 8px;
  background-color: #FFFFFF;
  border: 1px;
  border-style: solid;
  border-color: #C8C8C8;
  cursor: text;
}
#client_contacts_title {
  position: absolute;
  top: 108px;
  left: 37px;
  width: auto;
  height: auto;
  background-color: transparent;
  font-size: 14.0pt;
  font-family: Arial;
}
#client_contacts {
  position: absolute;
  top: 135px;
  left: 37px;
  width: 178px;
  height: 81px;
  background-color: #FFFFFF;
  border: 1px;
  border-style: solid;
  border-color: #DDDDDD;
  cursor: pointer;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 10.0pt;
  overflow: auto;
}
#client_contacts_select {
  position: absolute;
  top: 225px;
  left: 37px;
  padding-left: 8px;
  width: 145px;
  height: 21px;
  text-align: left;
  font-family: Arial;
  font-size: 11.0pt;
  vertical-align: middle;
  border-radius: 4px;
}
#add_contacts_btn {
  position: absolute;
  top: 225px;
  left: 194px;
  width: 21px;
  height: 21px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  border: 1px;
  border-style: solid;
  border-color: #CDCDCD;
  border-radius: 4px 4px 4px 4px;
  padding: 2px;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: Arial;
}
#client_projects_title {
  position: absolute;
  top: 108px;
  left: 274px;
  width: auto;
  height: auto;
  background-color: transparent;
  font-size: 14.0pt;
  font-family: Arial;
}
#client_projects {
  position: absolute;
  top: 135px;
  left: 274px;
  width: 178px;
  height: 81px;
  background-color: #FFFFFF;
  background-image: none;
  border: 1px;
  border-style: solid;
  border-color: #DDDDDD;
  cursor: pointer;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 10.0pt;
  overflow: auto;
}
#client_projects_select {
  position: absolute;
  top: 225px;
  left: 274px;
  padding-left: 8px;
  width: 145px;
  height: 21px;
  text-align: left;
  font-family: Arial;
  font-size: 11.0pt;
  vertical-align: middle;
  border-radius: 4px;
}
#add_projects_btn {
  position: absolute;
  top: 225px;
  left: 431px;
  width: 21px;
  height: 21px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  border: 1px;
  border-style: solid;
  border-color: #CDCDCD;
  border-radius: 4px 4px 4px 4px;
  padding: 2px;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: Arial;
}
#cancel_btn {
  position: absolute;
  top: 270px;
  left: 17px;
  width: 60px;
  height: 23px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  border: 1px;
  border-style: solid;
  border-color: #CDCDCD;
  border-radius: 4px 4px 4px 4px;
  padding: 2px;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: Arial;
}
#save_btn {
  position: absolute;
  top: 270px;
  left: 422px;
  width: 85px;
  height: 23px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  border: 1px;
  border-style: solid;
  border-color: #CDCDCD;
  border-radius: 4px 4px 4px 4px;
  padding: 2px;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: Arial;
}
#delete_btn {
  position: relative;
  top: 256px;
  left: 300px;
  width: 85px;
  height: 23px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  border: 1px;
  border-style: solid;
  border-color: #CDCDCD;
  border-radius: 4px 4px 4px 4px;
  padding: 2px;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: Arial;
}
#client_box > #clients_list_box {
  position: relative;
  top: -254px;
  left: 14px;
  padding-left: 26px;
  width: 120px;
  height: 202px;
  background-color: #F8F8F8;
  background-image: none;
  border: 1px;
  border-style: solid;
  border-color: #D4D4D4;
  border-radius: 15px 15px 15px 15px;
  padding-top: 9px;
  padding-right: 9px;
  padding-bottom: 9px;
  font-size: 16.0pt;
  font-family: Arial;
}
#search_field {
  position: absolute;
  top: 34px;
  left: 9px;
  width: 137px;
  height: 29px;
  background-color: #FFFFFF;
  border: 1px;
  border-style: solid;
  border-color: #CCCCCC;
  border-radius: 15px 15px 15px 15px;
  padding: 8px;
  padding-left: 12px;
  font-size: 10.0pt;
  font-family: Arial;
  color: #C0C0C0;
}
#clients_list_title {
  position: absolute;
  top: 3px;
  left: 22px;
  width: 78px;
  height: 35px;
  background-color: transparent;
  line-height: 27px;
  font-size: 14.0pt;
  font-family: Arial;
}
#new_client_btn {
  position: absolute;
  top: 178px;
  left: 12px;
  width: 132px;
  height: 23px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  border: 1px;
  border-style: solid;
  border-color: #CDCDCD;
  border-radius: 4px 4px 4px 4px;
  padding: 2px;
  font-size: 10.0pt;
  font-family: Arial;
}
#clients_list {
  position: absolute;
  top: 72px;
  left: 11px;
  width: 130px;
  height: 98px;
  background-color: #FFFFFF;
  border: 1px;
  border-style: solid;
  border-color: #DDDDDD;
  font-size: 11.0pt;
  font-family: Arial;
  overflow: auto;
}
.href_list,ul{
  list-style-type: none;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: -40px;
}
.href_list li{
  padding: 4px;
  border-bottom: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EBEBEB;
}
.href_list li:nth-child(n+4):last-child{
  padding: 4px;
  border: 0px;
}