<html>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link type="text/css" rel="stylesheet" href="./actu.css"/>
  <link type="text/css" rel="stylesheet" href="./menu.css"/>
  <script type="text/javascript" src="actu.js"></script>
  <body onload="loadNbAlerts();">
    <div class="actu_page">
         <div id="actu_box">

          <div id="menu_box">
            <ul id="menu">
              <li class="single_line selected"><a href="">Actualite</a></li>
              <li><a href="">Tableau de bord</a></li>
              <li class="single_line" >
                <a href="">Listes</a>
                <ul>
                    <li><a href="">Projets</a></li>
                    <li><a href="">Clients</a></li>
                    <li><a href="">Collaborateurs</a></li>
                </ul>
              </li>
              <li class="single_line"><a href="">Recherche</a></li>
              <li><a href="">Mon Compte</a></li>
              <li class="single_line"><a href="">Quitter</a></li>
            </ul>            
            <select id="menu_select_user">
              <option selected="selected">Collaborateur</option>
              <option>Responsable Projet</option>
              <option>Administrateur</option>
            </select>
          </div>

          <div id="msg_box">
            <span id="span_msg">Message</span>
          </div>

          <div id="main_box">

            <div id="title_box">Actualité</div>

            <input id="search_field" type="text" value="Rechercher" onblur="resetField();" onclick="emptyField();" oninput="search();"/>

            <div id="div_actu_alerts">
              <ul class="alerts_list">
                <input type="hidden" id="alert_state" value="showed">
                <li onclick="hideShowAlerts();" class="alert_title">&nbsp;&nbsp;&nbsp;Alertes (<span id="nb_alerts">-</span>)</li>
                <li onclick="" class="alert_field"><input type="button" class="btn_field" onclick="deleteAlert();"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Retard Tâche 2.3, Projet Azure (02/01/2016)</li>
                <li onclick="" class="alert_field"><input type="button" class="btn_field" onclick="deleteAlert();"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Retard Tâche 3.1, Projet Azure (27/01/2016)</li>

                <input type="hidden" id="task_alert_state" value="showed">
                <li onclick="hideShowTaskAlerts();" class="task_alert_title">&nbsp;&nbsp;&nbsp;Tâches (<span id="nb_task_alerts">-</span>)</li>
                <li onclick="" class="task_alert_field"><input type="button" class="btn_field" onclick="deleteAlert();"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Modification Tâche 1.1, Projet Azure (fin : 12/03/2016 - av : 30%)</li>

                <input type="hidden" id="project_alert_state" value="showed">
                <li onclick="hideShowProjectAlerts();" class="project_alert_title">&nbsp;&nbsp;&nbsp;Projets (<span id="nb_project_alerts">-</span>)</li>
                <li onclick="" class="project_alert_field"><input type="button" class="btn_field" onclick="deleteAlert();"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Clôture Projet Lunar (11/11/2014)</li>
              </ul>
            </div>

          </div>

         </div>  
    </div>
  </body>
</html>