<html>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link type="text/css" rel="stylesheet" href="./collabo_edit_admin.css"/>
  <link type="text/css" rel="stylesheet" href="./menu.css"/>
  <script type="text/javascript" src="collabo_edit_admin.js"></script>
  <body>
    <div class="collabo_page">
         <div id="collabo_box">
         
          <div id="menu_box">
            <ul id="menu">
              <li class="single_line selected">
                <a href="">Listes</a>
                <ul>
                  <li><a href="">Projets</a></li>
                  <li><a href="">Clients</a></li>
                  <li><a href="">Collaborateurs</a></li>
                </ul>
              </li>
              <li class="single_line"><a href="">Recherche</a></li>
              <li><a href="">Mon Compte</a></li>
              <li class="single_line"><a href="">Quitter</a></li>
            </ul>            
            <select id="menu_select_user">
              <option>Collaborateur</option>
              <option>Responsable Projet</option>
              <option selected="selected">Administrateur</option>
            </select>
          </div>

          <div id="msg_box">
            <span id="span_msg">Panneau d'administration</span>
          </div>

          <div id="main_box">

            <div id="main_box_title">Edition Collaborateur</div>

            <div id="collabo_name">Nom :</div>
            <input id="collabo_name_field" type="text" value="Roussot" maxlength="30">

            <div id="collabo_firstname">Prenom :</div>
            <input id="collabo_firstname_field" type="text" value="Cyril" maxlength="30">

            <div id="collabo_password">Mot de passe :</div>
            <input id="collabo_password_field" type="password" value="cyrilroussot" maxlength="20">

            <div id="collabo_address">Adresse :</div>
            <input id="collabo_address_field" type="text" value="15 rue des bois, 78000 Verailles" maxlength="40">

            <div id="collabo_phone">Telephone :</div>
            <input id="collabo_phone_field" type="text" value="0325498765" maxlength="15">

            <div id="collabo_email">Email :</div>
            <input id="collabo_email_field" type="text" value="cyril.roussot@maboite.com" maxlength="40">

            <div id="collabo_permission">Droits :</div>
            <div id="collabo_permission_checks">
              <input id="collabo_permission_check_collabo" type="checkbox" value="Collaborateur" disabled="disabled" checked> Collaborateur<p>
              <input id="collabo_permission_check_respo" type="checkbox" value="Responsable"> Responsable de projet<p>
              <input id="collabo_permission_check_admin" type="checkbox" value="Administrateur" onchange="autoCheck();"> Administrateur
            </div>

            <input id="cancel_btn" type="button" value="Annuler"/>
            <input id="delete_btn" type="button" value="Supprimer"/>
            <input id="save_btn" type="button" value="Sauvegarder"/>

          </div>

          <div id="collabos_list_box">

            <input id="search_field" type="text" value="Rechercher"/>

            <div id="collabos_list_title">Collaborateurs</div>

            <input id="new_collabo_btn" type="button" value="Nouveau Collaborateur"/>

            <div id="collabos_list">
              <ul class="href_list">
                <li><a href="">Marc Dasilvette</a></li>
                <li><a href="">Cyril Roussot</a></li>
              </ul>
            </div> 

          </div>
 
        </div>  
    </div>
  </body>
</html>