<html>
  <link type="text/css" rel="stylesheet" href="./collabo.css"/>
  <link type="text/css" rel="stylesheet" href="./menu.css"/>
  <body>
    <div class="collabo_page">
         <div id="collabo_box">
         
          <div id="menu_box">
            <ul id="menu">
              <li class="single_line"><a href="">Actualite</a></li>
              <li><a href="">Tableau de bord</a></li>
              <li class="single_line selected">
                <a href="">Listes</a>
                <ul>
                  <li><a href="">Projets</a></li>
                  <li><a href="">Clients</a></li>
                  <li><a href="">Collaborateurs</a></li>
                </ul>
              </li>
              <li class="single_line"><a href="">Recherche</a></li>
              <li><a href="">Mon Compte</a></li>
              <li class="single_line"><a href="">Quitter</a></li>
            </ul>            
            <select id="menu_select_user">
              <option>Collaborateur</option>
              <option selected="selected">Responsable Projet</option>
              <option>Administrateur</option>
            </select>
          </div>

          <div id="msg_box">
            <span id="span_msg">Message</span>
          </div>
           
          <div id="main_box">

            <!-- BOUTON A MONTRER SI LE USER EST ADMIN-->
            <input id="edit_btn" type="button" value="Editer"/>

            <div id="main_box_title">Collaborateur</div>
            <div id="collabo_name">Nom : Cyril Roussot</div>
            <div id="collabo_address">Adresse : 15 rue des bois, 94230 Cachan</div>
            <div id="collabo_tel">Telephone : 01.56.32.48.95</div>
            <div id="collabo_email">Email : cyril.roussot@maboite.com</div>

            <input id="collabo_btn" type="button" value="Contacter"/>

          </div>

          <div id="collabos_list_box">

            <input id="search_field" type="text" value="Rechercher"/>

            <div id="collabos_list_title">Collaborateurs</div>

            <!-- BOUTON A MONTRER SI LE USER EST ADMIN-->
            <input id="new_collabo_btn" type="button" value="Nouveau Collaborateur"/>

            <div id="collabos_list">
              <ul class="href_list">
                <li><a href="">Marc Dasilvette</a></li>
                <li><a href="">Cyril Roussot</a></li>
              </ul>
            </div> 

          </div>
 
        </div>  
    </div>
  </body>
</html>