<html>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link type="text/css" rel="stylesheet" href="./contact_delete_admin.css"/>
  <link type="text/css" rel="stylesheet" href="./menu.css"/>
  <body>
    <div class="contact_page">
         <div id="contact_box">
         
          <div id="menu_box">
            <ul id="menu">
              <li class="single_line selected">
                <a href="">Listes</a>
                <ul>
                  <li><a href="">Projets</a></li>
                  <li><a href="">Clients</a></li>
                  <li><a href="">Collaborateurs</a></li>
                </ul>
              </li>
              <li class="single_line"><a href="">Recherche</a></li>
              <li><a href="">Mon Compte</a></li>
              <li class="single_line"><a href="">Quitter</a></li>
            </ul>            
            <select id="menu_select_user">
              <option>Collaborateur</option>
              <option>Responsable Projet</option>
              <option selected="selected">Administrateur</option>
            </select>
          </div>

          <div id="msg_box">
            <span id="span_msg">Panneau d'administration</span>
          </div>

          <div id="main_box">

            <div id="main_box_title">Suppression contact : </div>
            <div id="contact_name">Thomas Djian</div>

            <div id="div_table">

              <div id="info_div">Si vous voulez que le nouveau contact d'une tâche soit le contact de la tache mère, choisir "Automatique".</div>

              <table id="title_table">
                <tr>
                  <th class="th1">Projet</th>
                  <th class="th2">Tâche</th>
                  <th class="th3">Nouveau Contact</th>
                </tr>    
              </table>

              <div id="div_table_contact"> 
            
                <table id="contact_table">   
                  <tr> 
                    <td class="td1"><a href="">Projet Azure</a></td> 
                    <td class="td2"><a href="">Tâche 1.1</a></td> 
                    <td class="td3">
                      <select class="select_new_contact">
                        <option selected="selected">Automatique</option>
                        <option>Florian Castelain</option>
                        <option>Albert Duchamps</option>
                      </select>
                    </td> 
                  </tr>
                  <tr> 
                    <td class="td1"><a href="">Projet Azure</a></td> 
                    <td class="td2"><a href="">Tâche 1.3</a></td> 
                    <td class="td3">
                      <select class="select_new_contact">
                        <option>Automatique</option>
                        <option selected="selected">Florian Castelain</option>
                        <option>Albert Duchamps</option>
                      </select>
                    </td> 
                  </tr>
                  <tr> 
                    <td class="td1"><a href="">Spartacus</a></td> 
                    <td class="td2"><a href="">Tâche 8.7</a></td> 
                    <td class="td3">
                      <select class="select_new_contact">
                        <option selected="selected">Automatique</option>
                        <option>Florian Castelain</option>
                        <option>Albert Duchamps</option>
                      </select>
                    </td> 
                  </tr>  
                </table>

              </div>

            </div>

            <input id="cancel_btn" type="button" value="Annuler"/>
            <input id="delete_btn" type="button" value="Supprimer"/>

          </div>

          <div id="contacts_list_box">

            <input id="search_field" type="text" value="Rechercher"/>

            <div id="contacts_list_title">Altec</div>

            <input id="new_contact_btn" type="button" value="Nouveau Contact"/>

            <div id="contacts_list">
              <ul class="href_list">
                <li><a href="">Florian Castelain</a></li>
                <li><a href="">Albert Duchamps</a></li>
                <li><a href="">Thomas Djian</a></li>
              </ul>
            </div> 

          </div>
 
        </div>  
    </div>
  </body>
</html>