<html>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link type="text/css" rel="stylesheet" href="./projet_edit.css"/>
  <link type="text/css" rel="stylesheet" href="./menu.css"/>
  <body>
    <div class="project_page">
         <div id="project_box">
         
          <div id="menu_box">
            <ul id="menu">
              <li class="single_line"><a href="">Actualite</a></li>
              <li><a href="">Tableau de bord</a></li>
              <li class="single_line selected">
                <a href="">Listes</a>
                <ul>
                  <li><a href="">Projets</a></li>
                  <li><a href="">Clients</a></li>
                  <li><a href="">Collaborateurs</a></li>
                </ul>
              </li>
              <li class="single_line"><a href="">Recherche</a></li>
              <li><a href="">Mon Compte</a></li>
              <li class="single_line"><a href="">Quitter</a></li>
            </ul>            
            <select id="menu_select_user">
              <option>Collaborateur</option>
              <option selected="selected">Responsable Projet</option>
              <option>Administrateur</option>
            </select>
          </div>

          <div id="msg_box">
            <span id="span_msg">Message</span>
          </div>
           
          <div id="main_box">

            <div id="main_box_title">Edition de projet</div>

            <div id="label_project_name">Nom du projet : </div>
            <input type="text" id="project_name" value="Azure" maxlength="20"/>

            <div id="label_project_description">Description : </div>
            <textarea id="project_description" cols="40" rows="5" maxlength="500">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</textarea>
            
            <div id="label_project_client">Client : </div>
            <select id="select_project_client">
              <option selected="selected">Altec</option>
            </select>
            <div id="label_project_respo">Responsable : </div>
            <select id="select_project_respo">
              <option>Marc Dasilvette</option>
              <option selected="selected">Cyril Roussot</option>
            </select>
            
            <div id="list_title">Liste de tâches</div>
            <input id="search_field_task" type="text" value="Rechercher"/>

            <div id="div_tasks">
              <ul class="href_list">
                <li>&nbsp;&nbsp;&nbsp;<a href="">Tâche 1</a></li>
                <li>&nbsp;&nbsp;&nbsp;<a href="">Tâche 1.1</a></li>
                <li>&nbsp;&nbsp;&nbsp;<a href="">Tâche 1.2</a></li>
                <li>&nbsp;&nbsp;&nbsp;<a href="">Tâche 1.3</a></li>
                <li>&nbsp;&nbsp;&nbsp;<a href="">Tâche 2</a></li>
                <li>&nbsp;&nbsp;&nbsp;<a href="">Tâche 2.1</a></li>
                <li>&nbsp;&nbsp;&nbsp;<a href="">Tâche 2.2</a></li>
                <li>&nbsp;&nbsp;&nbsp;<a href="">Tâche 3</a></li>
                <li>&nbsp;&nbsp;&nbsp;<a href="">Tâche 4</a></li>
                <li>&nbsp;&nbsp;&nbsp;<a href="">Tâche 5</a></li>
              </ul>
            </div>

            <input id="task_btn" type="button" value="Créer une nouvelle tâche"/>

            <input id="cancel_btn" type="button" value="Annuler"/>
            <input id="delete_btn" type="button" value="Supprimer"/>
            <input id="save_btn" type="button" value="Sauvegarder"/>

          </div>

          <div id="projects_list_box">

            <input id="search_field" type="text" value="Rechercher"/>

            <div id="projects_list_title">Projets</div>

            <!-- BOUTON A CACHER SELON LE ROLE-->
            <input id="new_project_btn" type="button" value="Nouveau Projet"/>

            <div id="projects_list">
              <ul class="href_list">
                <li><a href="">Azure</a></li>
                <li><a href="">Spartacus</a></li>
              </ul>
            </div> 

          </div>
 
        </div>  
    </div>
  </body>
</html>