<html>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link type="text/css" rel="stylesheet" href="./tableau_respo.css"/>
  <link type="text/css" rel="stylesheet" href="./menu.css"/>
  <script type="text/javascript" src="tableau_respo.js"></script>
  <body onload="showNbPage();">
    <div class="account_page">
         <div id="account_box">

          <div id="menu_box">
            <ul id="menu">
              <li class="single_line"><a href="">Actualite</a></li>
              <li class="selected" ><a href="">Tableau de bord</a></li>
              <li class="single_line">
                <a href="">Listes</a>
                <ul>
                    <li><a href="">Projets</a></li>
                    <li><a href="">Clients</a></li>
                    <li><a href="">Collaborateurs</a></li>
                </ul>
              </li>
              <li class="single_line"><a href="">Recherche</a></li>
              <li ><a href="">Mon Compte</a></li>
              <li class="single_line"><a href="">Quitter</a></li>
            </ul>            
            <select id="menu_select_user">
              <option selected="selected">Collaborateur</option>
              <option>Responsable Projet</option>
              <option>Administrateur</option>
            </select>
          </div>

          <div id="msg_box">
            <span id="span_msg">Message</span>
          </div>

          <div id="filter_box">
            <div id="filter_one">Trier par : </div>
            <select id="filter_one_select">
              <option selected="selected">Avancement</option>
              <option>Date de fin</option>
              <option>Criticité</option>
            </select>
            <div id="filter_two">Afficher le(s) projet(s) suivant(s) : </div>
            <select id="filter_two_select">
              <option selected="selected">Tous les projets</option>
              <option>Projet Azurre</option>
              <option>Spartacus</option>
            </select>
            <div id="filter_three">Mode d'affichage : </div>
            <select id="filter_three_select" onchange="changeTable();">
              <option selected="selected">Projets</option>
              <option>Tâches</option>
            </select>
          </div>

          <div id="main_box">

            <div id="title_account">Tableau de bord</div>

            <table id="task_table">  
              <tr class="tr_0">
                <th class="th1">Tâche</th>
                <th class="th2">Projet</th>
                <th class="th3">Avancement</th>
                <th class="th4">Date de fin</th>
              </tr>   
              <tr class="tr_1"> 
                <td class="td1"><a href="">Tâche 1.1</a></td> 
                <td class="td2"><a href="">Projet Azure</a></td> 
                <td class="td3">20 %</td>
                <td class="td4">10/11/2015</td> 
              </tr>
              <tr class="tr_1"> 
                <td class="td1"><a href="">Tâche 1.1</a></td> 
                <td class="td2"><a href="">Projet Azure</a></td> 
                <td class="td3">20 %</td>
                <td class="td4">10/11/2015</td> 
              </tr>
              <tr class="tr_1"> 
                <td class="td1"><a href="">Tâche 1.1</a></td> 
                <td class="td2"><a href="">Projet Azure</a></td> 
                <td class="td3">20 %</td>
                <td class="td4">10/11/2015</td> 
              </tr>
              <tr class="tr_1"> 
                <td class="td1"><a href="">Tâche 1.1</a></td> 
                <td class="td2"><a href="">Projet Azure</a></td> 
                <td class="td3">20 %</td>
                <td class="td4">10/11/2015</td> 
              </tr> 
              <tr class="tr_1"> 
                <td class="td1"><a href="">Tâche 1.1</a></td> 
                <td class="td2"><a href="">Projet Azure</a></td> 
                <td class="td3">20 %</td>
                <td class="td4">10/11/2015</td> 
              </tr>   
              <tr class="tr_1"> 
                <td class="td1"><a href="">Tâche 1.1</a></td> 
                <td class="td2"><a href="">Projet Azure</a></td> 
                <td class="td3">20 %</td>
                <td class="td4">10/11/2015</td> 
              </tr>
              <tr class="tr_2"> 
                <td class="td1"><a href="">Tâche 1.1</a></td> 
                <td class="td2"><a href="">Projet Azure</a></td> 
                <td class="td3">90 %</td>
                <td class="td4">10/11/2015</td> 
              </tr>
               <tr class="tr_2"> 
                <td class="td1"><a href="">Tâche 1.1</a></td> 
                <td class="td2"><a href="">Projet Azure</a></td> 
                <td class="td3">90 %</td>
                <td class="td4">10/11/2015</td> 
              </tr> 
               <tr class="tr_2"> 
                <td class="td1"><a href="">Tâche 1.1</a></td> 
                <td class="td2"><a href="">Projet Azure</a></td> 
                <td class="td3">90 %</td>
                <td class="td4">10/11/2015</td> 
              </tr>  
              </tr> 
               <tr class="tr_2"> 
                <td class="td1"><a href="">Tâche 1.1</a></td> 
                <td class="td2"><a href="">Projet Azure</a></td> 
                <td class="td3">90 %</td>
                <td class="td4">10/11/2015</td> 
              </tr>
              </tr> 
               <tr class="tr_2"> 
                <td class="td1"><a href="">Tâche 1.1</a></td> 
                <td class="td2"><a href="">Projet Azure</a></td> 
                <td class="td3">90 %</td>
                <td class="td4">10/11/2015</td> 
              </tr>
              </tr> 
               <tr class="tr_2"> 
                <td class="td1"><a href="">Tâche 1.1</a></td> 
                <td class="td2"><a href="">Projet Azure</a></td> 
                <td class="td3">90 %</td>
                <td class="td4">10/11/2015</td> 
              </tr>
              </tr> 
               <tr class="tr_3"> 
                <td class="td1"><a href="">Tâche 1.1</a></td> 
                <td class="td2"><a href="">Projet Azure</a></td> 
                <td class="td3">55 %</td>
                <td class="td4">10/11/2015</td> 
              </tr>            
            </table>

            <table id="project_table">  
              <tr class="tr_0">
                <th class="th1">Projet</th>
                <th class="th2">Avancement</th>
                <th class="th3">Date de fin</th>
              </tr>   
              <tr class="tr_1"> 
                <td class="td1"><a href="">Projet Azure</a></td> 
                <td class="td2">20 %</td>
                <td class="td3">10/11/2015</td> 
              </tr>
              <tr class="tr_1"> 
                <td class="td1"><a href="">Projet Azure</a></td> 
                <td class="td2">20 %</td>
                <td class="td3">10/11/2015</td> 
              </tr>
              <tr class="tr_1"> 
                <td class="td1"><a href="">Projet Azure</a></td> 
                <td class="td2">20 %</td>
                <td class="td3">10/11/2015</td> 
              </tr>
              <tr class="tr_1"> 
                <td class="td1"><a href="">Projet Azure</a></td> 
                <td class="td2">20 %</td>
                <td class="td3">10/11/2015</td> 
              </tr>
              <tr class="tr_1"> 
                <td class="td1"><a href="">Projet Azure</a></td> 
                <td class="td2">20 %</td>
                <td class="td3">10/11/2015</td> 
              </tr>
              <tr class="tr_1"> 
                <td class="td1"><a href="">Projet Azure</a></td> 
                <td class="td2">20 %</td>
                <td class="td3">10/11/2015</td> 
              </tr>
              <tr class="tr_2"> 
                <td class="td1"><a href="">Spartacus</a></td> 
                <td class="td2">90 %</td>
                <td class="td3">10/11/2015</td> 
              </tr>
              <tr class="tr_2"> 
                <td class="td1"><a href="">Spartacus</a></td> 
                <td class="td2">90 %</td>
                <td class="td3">10/11/2015</td> 
              </tr>
            </table>

            <div id="div_btns">
               <input id="btn_previous" type="button" value="<<" onClick="previous();"/>
              <input id="btn_actual" type="button" value="1"/>
              <input id="btn_next" type="button" value=">>" onClick="next();"/>
            </div>

          </div>

         </div>  
    </div>
  </body>
</html>