<!doctype html>
<html class = "no-js" lang = "fr">
	<head>
			<meta charset = "UTF-8">
			<title>GL - ET5</title>
			<meta name = "viewport" content = "width = device-width, initial-scale = 1.0">
			<link rel = "stylesheet" href = "css/styles.css" media = "all">
	</head>
	<body>	
	
		<header> 
			<h1>Lorem lacus samis</h1>
			<div class="labelHeader">Lorem Elsass ipsum lacus leverwurscht</div>
			<ul id = "navMenuHorizontal">
				<li class = "leftNavButton"><a href = "#">Home</a></li>
				<li class = "leftNavButton"><a href = "#">Collaborateur</a></li>
				<li class = "leftNavButton"><a href = "#">Client</a></li>
				<li class = "rightNavButton"><a href = "#">Recherche</a></li>
				<li class = "rightNavButton"><a href = "#">Admin</a></li>
				<li class = "rightNavButton"><a href = "#">Deco</a></li>
			</ul>
			<div style = "clear:both;" />
		</header>
		
		<FORM method = post action = "#">
			<TABLE BORDER=0>
				<TR>
					<TD>Pseudo</TD>
					<TD>
						<INPUT type=text name="nom">
					</TD>
				</TR>

				<TR>
					<TD>Password</TD>
					<TD>
						<INPUT type=password name="prenom">
					</TD>
				</TR>

				<TR>
					<TD COLSPAN=2>
						<INPUT type="submit" value="Envoyer">
					</TD>
				</TR>
			</TABLE>
		</FORM>
		
		<div style="clear:both;" />
		
		<footer id = "footer">
			Lorem Elsass ipsum lacus leverwurscht Wurschtsalad mamsell Gal. gewurztraminer turpis, suspendisse commodo Oberschaeffolsheim ornare aliquam semper Miss Dahlias Mauris turpis sagittis kuglopf eleifend dignissim baeckeoffe geht's Richard Schirmeck mollis habitant schnaps ante et sit leo schpeck sit Salu bissame Salut bisamme varius quam. amet elementum nullam bissame bredele Heineken picon bière gal sed risus, condimentum Verdammi ch'ai ac réchime météor barapli s'guelt quam, non Christkindelsmärik blottkopf, Carola tellus rucksack vielmols, Gal !
		</footer>
		
	</body>
</html>